<div id="content">
    <div class="container">
        <div class="page-header">
            <h1>Login</h1>
        </div>
        <form class="form">

            <div class="alert alert-danger" ng-show="vm.error.valid">
                <strong>Error!</strong> {{ auth.error.message }}
            </div>

            <div class="col-xs-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="text" name="email" id="email" class="form-control" placeholder="E-mal" ng-model="vm.email" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-md-12">
                    <div class="form-group">
                         <button class="btn btn-primary" ng-click="vm.logar()">Logar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

